.xp-avatar {
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  &.xp-avatar--sm {
    width: 40px;
    height: 40px;
  }
  &.xp-avatar--md {
    width: 48px;
    height: 48px;
  }
  &.xp-avatar--lg {
    width: 56px;
    height: 56px;
  }
  &.xp-avatar--xl {
    width: 64px;
    height: 64px;
  }
  &.xp-avatar--full {
    width: 200px;
    height: 200px;
  }

  &.xp-avatar--interactive {
    cursor: pointer;
  }
}
