.xp-form-group {
  display: block;
}

.xp-form-label {
  display: block;
  color: $xp-color--black;
  font-size: 14px;
  font-weight: $font-weight-regular;
}

.xp-form-error {
  color: $xp-color--danger;
  text-transform: none;
}

.xp-form-description {
  font-size: 14px;
  font-weight: $font-weight-normal;
  color: $xp-color--text-muted;
  @include margin(4px 0 0 4px);
}

.xp-input {
  min-width: 280px;
  display: block;
  font-size: 14px;
  font-weight: $font-weight-normal;
  color: $xp-color--text;
  border-radius: $border-radius-base;
  border: none;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  transition: $xp-default-transition;
  @include padding(8px 12px);

  &::placeholder {
    color: $xp-color--text-placeholder;
  }

  &:focus {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(58, 151, 212, 0.34) 0px 0px 0px 3px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }
}

.xp-input.xp-input--full-width {
  width: 100%;
}
