.xp-form-group {
  display: block;
  @extend .mb--sm;
}
.xp-form-label {
  @extend .fx--block;
  @extend .mb--xs;
  @extend .ml--xs;
  @extend .xp-text--muted;
  font-size: 12px;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
}
.xp-form-description {
  font-size: 13px;
  font-weight: $font-weight-regular;
  @extend .mt--xs;
  @extend .ml--xs;
  @extend .xp-text--muted;
}
.xp-form-error {
  font-size: 13px;
  font-weight: $font-weight-regular;
  color: $xp-color--danger;
  @extend .fx--block;
  @extend .mb--xs;
  @extend .ml--xs;
}
.xp-input {
  background-clip: padding-box;
  font-weight: $font-weight-regular;
  color: $xp-color--text;
  @extend .fx--block;
  @extend .plr--md;
  @extend .ptb--sm;
  @extend .border-radius--md;
  border: 1px solid rgba($xp-color--primary-dark, 0.25);
  transition: $xp-default-transition;
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba($xp-color--text-muted, 0.55);
  }
  &:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05);
  }
  &:focus {
    transition: $xp-default-transition;
    border: 1px solid rgba($xp-color--primary-dark, 0.75);
    transform: scale(1.02);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
}

.xp-input.xp-input--full-width {
  width: 100%;
  @include justify-content(center);
}
