.xp-toastr {
  .bp3-toast {
    @include box-shadow($xp-shadow-lg);
    &:focus {
      outline: none;
    }
  }
}

.xp-toastr {
  .xp-toastr-success {
    background-color: $xp-color--success !important;
  }
  .xp-toastr-error {
    background-color: $xp-color--danger !important;
  }
  .xp-toastr-info {
    background-color: $xp-color--primary !important;
  }
}
