.fx-none {
  display: none !important;
}

.fx-inline {
  display: inline !important;
}

.fx-inline-block {
  display: inline-block !important;
}

.fx-block {
  display: block !important;
}

.fx-table {
  display: table !important;
}

.fx-table-row {
  display: table-row !important;
}

.fx-table-cell {
  display: table-cell !important;
}

.fx-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.fx-inline-flex {
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .fx-sm-none {
    display: none !important;
  }

  .fx-sm-inline {
    display: inline !important;
  }

  .fx-sm-inline-block {
    display: inline-block !important;
  }

  .fx-sm-block {
    display: block !important;
  }

  .fx-sm-table {
    display: table !important;
  }

  .fx-sm-table-row {
    display: table-row !important;
  }

  .fx-sm-table-cell {
    display: table-cell !important;
  }

  .fx-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .fx-sm-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .fx-md-none {
    display: none !important;
  }

  .fx-md-inline {
    display: inline !important;
  }

  .fx-md-inline-block {
    display: inline-block !important;
  }

  .fx-md-block {
    display: block !important;
  }

  .fx-md-table {
    display: table !important;
  }

  .fx-md-table-row {
    display: table-row !important;
  }

  .fx-md-table-cell {
    display: table-cell !important;
  }

  .fx-md-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .fx-md-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .fx-lg-none {
    display: none !important;
  }

  .fx-lg-inline {
    display: inline !important;
  }

  .fx-lg-inline-block {
    display: inline-block !important;
  }

  .fx-lg-block {
    display: block !important;
  }

  .fx-lg-table {
    display: table !important;
  }

  .fx-lg-table-row {
    display: table-row !important;
  }

  .fx-lg-table-cell {
    display: table-cell !important;
  }

  .fx-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .fx-lg-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .fx-xl-none {
    display: none !important;
  }

  .fx-xl-inline {
    display: inline !important;
  }

  .fx-xl-inline-block {
    display: inline-block !important;
  }

  .fx-xl-block {
    display: block !important;
  }

  .fx-xl-table {
    display: table !important;
  }

  .fx-xl-table-row {
    display: table-row !important;
  }

  .fx-xl-table-cell {
    display: table-cell !important;
  }

  .fx-xl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .fx-xl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
