// Colors

$xp-color--black: #1f2020;
$xp-color--white: #ffffff;
$xp-color--primary: #4c51bf;
$xp-color--primary-dark: #212529;
$xp-color--primary-light: #667eea;
$xp-color--text: #4a5568;
$xp-color--text-muted: rgba($xp-color--text, 0.7);
$xp-color--text-placeholder: #a0aec0;
$xp-color--env: #f7fafc;
$xp-color--grey: #f4f6f8;
$xp-color--highlight: #e6e8eb;
$xp-color--border-light: rgba($xp-color--primary-dark, 0.15);
$xp-color--border: rgba($xp-color--primary-dark, 0.25);
$xp-color--border-dark: rgba($xp-color--primary-dark, 0.35);
$xp-color--success: #38a169;
$xp-color--waring: #f2994a;
$xp-color--danger: #e53e3e;

// Animations
$xp-default-transition: all 0.3s;

// Font Family

$base-font-family: "Inter", sans-serif;

// Font Weight

$border-radius-base: 4px;
$border-radius-xs: 2px;
$border-radius-sm: 3px;
$border-radius-lg: 6px;
$border-radius-xl: 8px;

// Font weights

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//Shadows
$xp-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$xp-shadow-xs: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.03);
$xp-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
$xp-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
$xp-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
$xp-shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
$xp-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
$xp-shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
$xp-shadow-none: none;
