// Colors

$xp-color--black: #000000;
$xp-color--white: #ffffff;
$xp-color--primary: #4646f1;
$xp-color--primary-dark: #343a40;
$xp-color--primary-light: #6d6dfb;
$xp-color--text: #182026;
$xp-color--text-muted: rgba($xp-color--text, 0.75);
$xp-color--env: #eef1f6;
$xp-color--highlight: rgba($xp-color--primary-dark, 0.1);
$xp-color--border: rgba($xp-color--primary-dark, 0.2);
$xp-color--success: #27ae60;
$xp-color--waring: #f2994a;
$xp-color--danger: #eb5757;

// Animations
$xp-default-transition: all 0.3s;

// Font Family

$base-font-family: "IBM Plex Sans", sans-serif;

// Font Weight

$border-radius-base: 4px;
$border-radius-xs: 2px;
$border-radius-sm: 3px;
$border-radius-lg: 6px;
$border-radius-xl: 8px;

// Font weights

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-regular: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

//Shadows
$xp-default-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
$xp-large-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
