@import "./utilities/directional-property";
@import "./utilities/compact-shorthand";
@import "./utilities/contains-falsy";

@mixin user-select($value: text) {
  -webkit-user-select: $value;
  /* Chrome all / Safari all */
  -moz-user-select: $value;
  /* Firefox all */
  -ms-user-select: $value;
  /* IE 10+ */
  user-select: $value;
}

@mixin box-shadow($shadow: $xp-default-shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin ie_browser_styles {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}
